.products{
    max-width: 700px;
    margin:20px auto 0; 
    padding: 0 20px;
    background: #fff;
    border:1px solid #ddd;
    border-radius: 5px; 
    margin-bottom: 20px;      
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);     
}

.products h2{
    text-align: center;
    margin-top: 10px;
}

.products p {
    font-size: 16px; 
    color: #999; 
    margin-top:5px; 
    line-height: 24px;
    text-align: center;
}

.products a {
    text-decoration: none; 
    color: coral;
}
.voltarbtn {
    height: 42px;
    border-radius: 5px; 
    text-decoration: none; 
    border: 2px solid coral; 
    color:coral; 
    padding: 2px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    transition: all 0.2s;    
}

.voltarbtn:hover {
    background: coral; 
    color: #fff;
}

